GEMINI_STUDIO_KEY=your-api-key-here
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=.vercel.app,localhost
CORS_ALLOWED_ORIGINS=https://your-frontend.vercel.app
DATABASE_URL=test-database-url

# AWS S3 Media Storage
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=ap-south-1
AWS_S3_CUSTOM_DOMAIN=